.form{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 380px;
  max-width: 100%;
}

.inputBox{
  display: flex;
  flex-direction: column;
  gap: 6px;

  > span{
    color: rgb(197, 25, 25);
    font-size: 0.75rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.input{
  border: 1px solid var(--color-primary);
  padding: 12px 8px;
  outline: none;
  
  &:focus{
    outline: 1px solid var(--color-primary-dark);
    border-radius: 0;
  }
}

.inputBoxPassword {
  position: relative;

  button > svg {
    position: absolute;
    top: 38px;
    right: 14px;
  }
}