@import "./reset.scss";
@import "./global.scss";
@import "./typography.scss";
@import "./buttons.scss";
@import "./form.scss";

.container {
  width: 100%;
  max-width: 1228px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1228px;
  padding: 0 16px;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

.default-page {
  min-height: calc(100dvh - 124px);
  max-width: 100%;
  width: 100%;
}
