.title1 {
  font-size: 3.5rem;
  line-height: 120%;
  font-weight: 700;
}

.title2 {
  font-size: 3rem;
  line-height: 120%;
  font-weight: 700;
}

.title3 {
  font-size: 2.5rem;
  line-height: 120%;
  font-weight: 700;
}

.title4 {
  font-size: 2rem;
  line-height: 130%;
  font-weight: 700;
}

.title5 {
  font-size: 1.5rem;
  line-height: 130%;
  font-weight: 700;
}

.text-md-normal {
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: 400;
}

.text-normal {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

.text-sm-normal {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}