.textBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  > p {
    color: var(--color-dark-grey);
  }
}

.mainSection {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 150px - 64px);
  gap: 20px;

  > div {
    border: 1px solid #22646450;
    padding: 40px;
    border-radius: 8px;
  }
}

.registerText {
  > span > a {
    
    color: var(--primary-color-light);
  }

  > span > a:visited {
    color: var(--primary-color-dark);
  }
}
